:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  --white: #FFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}
@font-face {
  font-family: menlo;
  src: url("./menlo.ttf") format "TrueType"
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
ul {
  list-style-type: none;
}
a, a:link, a:visited, a:hover, a:focus, a:active {
  color: var(--primary);
  text-decoration: none;
}
pre code {
  margin: auto;
  padding: 1.4rem;
  display: flex;
  min-width: 90%;
  max-width: 90%;
  min-height: 4.4rem;
  font-size: 1.6rem;
  color: var(--primary-light);
  box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2), -0.2rem -0.2rem 1.8rem var(--white);
  border-radius: 3rem;
  font-family: menlo, monospace;
  overflow-x: scroll;
}
q1, q2, q3 {
display: inline;
margin: 0;
padding: 0;
font-family: inherit;
}
q1 {
color: var(--primary-light);
}
q2 {
color: var(--primary);
}
q3 {
color: var(--primary-dark);
}
textarea, button {
border: 1px solid var(--primary);
background: inherit;
margin: 1rem;
border-radius: 1em;
padding: 1em;
color: var(--primary);
font-family: menlo, monospace;
outline: none;
}
textarea {
width: 100%;
}
html {
  color: var(--greyDark);
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-y: scroll;
  background: var(--greyLight-1);
  font-family: "Poppins", sans-serif;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media screen and (min-width: 900px) {
  html {
    font-size: 75%;
  }
}
h1, h2, h3, h4, h5, h6 {
  color: var(--primary-light);
}

.container {
  margin: 0;
  padding: 3rem;
  min-height: 100%;
  min-width: 100vw;
  display: block;
  font-family: "Poppins", sans-serif;
  background: var(--greyLight-1);
  overflow-x: hidden;
}
.container * {
  font-size: 1.5rem;
}

.block {
  width: 100%;
  min-height: 20rem;
  border-radius: 3rem;
  box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2), -0.2rem -0.2rem 1.8rem var(--white);
  padding: 4rem;
  display: block;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.block-3 {
  margin: 0;
  min-width: 100vw;
  display: flex;
  align-items: center;
}
.block-3 .block{
max-width: 30vw;
display: inline-block;
margin-right: 1.5%;
color: var(--primary);
}
.block-3 .block::last-child{
margin: 0;
}

nav {
  grid-column: 3/4;
  grid-row: 1/2;
  width: 34rem;
  height: 4rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 2.5rem;
}
nav input {
  display: none;
}
nav > input:checked + label {
  transition: all 0.5s ease;
  color: var(--primary);
}
[class|="nav"] {
  width: 6.8rem;
  height: 3.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--greyDark);
  transition: all 0.5s ease;
}
[class|="nav"]:hover {
  color: var(--primary);
}
.nav-color {
  position: absolute;
  height: 3.4rem;
  width: 6.2rem;
  margin-left: 0.3rem;
  border-radius: 0.8rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
  pointer-events: none;
}

[id|="tab"]:checked ~ .nav-color {
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#tab-1:checked ~ .nav-color {
  transform: translateX(0);
}
#tab-2:checked ~ .nav-color {
  transform: translateX(6.8rem);
}
#tab-3:checked ~ .nav-color {
  transform: translateX(13.6rem);
}
#tab-4:checked ~ .nav-color {
  transform: translateX(20.4rem);
}
#tab-5:checked ~ .nav-color {
  transform: translateX(27.2rem);
}
footer {
  width: 100%;
  min-height: 4rem;
  border-radius: 3rem;
  box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2), -0.2rem -0.2rem 1.8rem var(--white);
  padding: 1.5rem;
  display: block;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}